<!DOCTYPE html>
<html lang="en">
<head>
<title>Dota-2 Hero Analytics</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script type="text/javascript" src="jquery.js"></script> -->

<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
.tableFixHead          { overflow-y: auto; height: 400px; }
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }
h_div {
    display: none;
}
</style>
</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Dota-2<br>Hero Analytics</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#gquery" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">General</a>
    <a href="#hquery" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Heros</a>
    <a href="#iquery" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Items</a>
    <a href="#aquery" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Achievements</a>
    <a href="#updates" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"> Update/Add </a>
    <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Team</a>

  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Dota-2 Hero Analytics</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="queries">
    <h1 class="w3-jumbo"><b>Analytics and Tools</b></h1>
    <h1 class="w3-xxxlarge w3-text-red" id="gquery"><b>General.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Heroes are the foundation of every Dota experience. Every hero has the potential to completely change the dynamic of a team,
      and every player can completely change the dynamic of a hero. We here are showing the analysis done from over hundreds of matches played
       by various players from various countries with a wide spectrum of skill and talent to demonstrate the statistics about different heros.
</p>
<form action="/query" method="post">
  <label for="queries">Choose a Query:</label>
  <select name="query" id="query">
    <option value="null"></option>
    <option value="gq1">Top k heroes most selected</option>
    <option value="gq2">Most deadly teamfights</option>
    <option value="gq3">Percentage of Radiant Wins</option>
    <option value="gq4">Percentage of Dire Wins</option>
  </select>
  <input type="submit" value="Submit">
</form>
<br>
{% if data is not none and typequery=='g' %}
<p id="query_val"></p>
<button type="button" onclick="download_table_as_csv('results');">Download as CSV</button>
<div class="tableFixHead" id="results">
  <table>
    {% if header != None %}
    <thead>
      <tr>
      {% for h in header %}
      <th> {{h}} (<a href="/query?q={{prevq}}&sort={{h}}" >sort</a>) </th>
      {% endfor %}
    </tr>
    </thead>
    {% endif %}
    <tbody>
      {% for row in data %}
      <tr>
        {% for x in row %}
        <td> {{x}} </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

<!-- # heros -->
<h1 class="w3-xxxlarge w3-text-red" id="hquery"><b>Heros.</b></h1>
<hr style="width:50px;border:5px solid red" class="w3-round">
<p>Heroes are the foundation of every Dota experience. Every hero has the potential to completely change the dynamic of a team,
  and every player can completely change the dynamic of a hero. We here are showing the analysis done from over hundreds of matches played
   by various players from various countries with a wide spectrum of skill and talent to demonstrate the statistics about different heros.
</p>
<form action="/query" method="post">
<label for="queries">Choose a Query:</label>
<select name="query" id="query">
<option value="null"></option>
<option value="hq1">Most Played Heroes</option>
<option value="hq2">Win Rate</option>
<option value="hq3">Game Impact</option>
<option value="hq4">Economy</option>
<option value="hq5">Damage and Healing</option>
<option value="hq6">All Heroes</option>
</select>
<input type="submit" value="Submit">
</form>
<br>
{% if data is not none and typequery=='h' %}
<p id="query_val"></p>
<button type="button" onclick="download_table_as_csv('results1');">Download as CSV</button>
<div class="tableFixHead" id="results1">
<table>
{% if header != None %}
<thead>
  <tr>
  {% for h in header %}
  <th> {{h}} (<a href="/query?q={{prevq}}&sort={{h}}" >sort</a>) </th>
  {% endfor %}
</tr>
</thead>
{% endif %}
<tbody>
  {% for row in data %}
  <tr>
    {% for x in row %}
    <td> {{x}} </td>
    {% endfor %}
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endif %}


<!-- # item -->
<h1 class="w3-xxxlarge w3-text-red" id='iquery'><b>Items.</b></h1>
<hr style="width:50px;border:5px solid red" class="w3-round">
<p>Items are things heros can purchase in order to strengthen themselves.
</p>
<form action="/query" method="post">
<label for="queries">Choose a Query:</label>
<select name="query" id="query">
<option value="null"></option>
<option value="iq1">Early game items</option>
<option value="iq2">Mid game items</option>
<option value="iq3">Late game items</option>
<option value="iq4">Item win rate</option>
</select>
<input type="submit" value="Submit">
</form>
<br>
{% if data is not none and typequery=='i' %}
<p id="query_val"></p>

<button type="button" onclick="download_table_as_csv('results2');">Download as CSV</button>

<div class="tableFixHead" id="results2">
<table>
{% if header != None %}
<thead>
  <tr>
  {% for h in header %}
  <th> {{h}} (<a href="/query?q={{prevq}}&sort={{h}}" >sort</a>) </th>
  {% endfor %}
</tr>
</thead>
{% endif %}
<tbody>
  {% for row in data %}
  <tr>
    {% for x in row %}
    <td> {{x}} </td>
    {% endfor %}
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endif %}

<!-- # Achievements -->
<h1 class="w3-xxxlarge w3-text-red" id="aquery"><b>Achievements.</b></h1>
<hr style="width:50px;border:5px solid red" class="w3-round">
<p>Achievements earned by different heroes
</p>
<form action="/query" method="post">
<label for="queries">Choose a Query:</label>
<select name="query" id="query">
<option value="null"></option>
<option value="aq1">Filthy Rich</option>
<option value="aq2">Not on my watch</option>
<option value="aq3">Hero farmer</option>
<option value="aq4">Goblin slayer</option>
<option value="aq5">Controller of crowds</option>
<option value="aq6">Good game</option>
<option value="aq7">Blame game</option>
</select>
<input type="submit" value="Submit">
</form>
<br>
{% if data is not none and typequery=='a' %}

<p id="query_val"></p>
<button type="button" onclick="download_table_as_csv('results3');">Download as CSV</button>
<div class="tableFixHead" id="results3">
<table>
{% if header != None %}
<thead>
  <tr>
  {% for h in header %}
  <th> {{h}} (<a href="/query?q={{prevq}}&sort={{h}}" >sort</a>) </th>
  {% endfor %}
</tr>
</thead>
{% endif %}
<tbody>
  {% for row in data %}
  <tr>
    {% for x in row %}
    <td> {{x}} </td>
    {% endfor %}
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endif %}

  </div>



  <!-- Services -->
  <div class="w3-container" id="updates" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Update.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
      <!-- <label for="update_domain">Choose a Query:</label> -->
      <form>
      <label for="cases">Choose a table:</label>
      <select name="cases" id="cases">
        <option value=""></option>
        <option value="hero">Hero</option>
        <option value="item">Item</option>
        <option value="player">Player</option>
      </select>
    </form>
      <!-- <form action="/update_val" id="update_form"> -->
        <div class="h_div" id="hero_update">
          <form action="/update" method="post">
          <div class="w3-section">
            <label>Hero Name</label>
            <input class="w3-input w3-border" type="text" name="Name" required>
          </div>
          <div class="w3-section">
            <label>Hero game name</label>
            <input class="w3-input w3-border" type="text" name="Email" required>
          </div>
          <input type="submit" value="Submit">
        </form>
        </div>

        <div class="h_div" id="item_update">
          <form action="/update" method="post">
          <div class="w3-section">
            <label>Item Name</label>
            <input class="w3-input w3-border" type="text" name="Name" required>
          </div>
          <div class="w3-section">
            <label>Item id</label>
            <input class="w3-input w3-border" type="text" name="Email" required>
          </div>
          <input type="submit" value="Submit">
       </form>
        </div>
        <div class="h_div" id="player_update">
          <form action="/update" method="post">
          <div class="w3-section">
            <label>Name</label>
            <input class="w3-input w3-border" type="text" name="Name" required>
          </div>
          <div class="w3-section">
            <label>Email</label>
            <input class="w3-input w3-border" type="text" name="Email" required>
          </div>
          <div class="w3-section">
            <label>Message</label>
            <input class="w3-input w3-border" type="text" name="Message" required>
          </div>
          <input type="submit" value="Submit">
       </form>
        </div>
    </div>

  <!-- Designers -->
  <div class="w3-container" id="team" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Team.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

  <!-- The Team -->
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <!-- <img src="/w3images/team2.jpg" alt="John" style="width:100%"> -->
        <div class="w3-container">
          <h3>Jay Paranjape</h3>
          <p class="w3-opacity">2017CS10355</p>
          <!-- <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p> -->
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <!-- <img src="/w3images/team1.jpg" alt="Jane" style="width:100%"> -->
        <div class="w3-container">
          <h3>Saksham Dhull</h3>
          <p class="w3-opacity">2017CS10370</p>
          <!-- <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p> -->
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <!-- <img src="/w3images/team3.jpg" alt="Mike" style="width:100%"> -->
        <div class="w3-container">
          <h3>Siddhant Mago</h3>
          <p class="w3-opacity">2017CS50419</p>
          <!-- <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
$('#cases').change(function () {
	  var value = this.value;
    console.log(this.value);
        if(this.value==""){
      $('#hero_update').display.style = "none";
      $('#item_update').display.style = "none";
      $('#player_update').display.style = "none";
      return;
    }
    $('#hero_update').display.style = "none";
    $('#item_update').display.style = "none";
    $('#player_update').display.style = "none";
    $('#' + this.value+'_update').display.style = "block";
});
function getqueryname(table_id){
  var e = document.getElementById("#"+table_id);
  var strUser = e.options[{{qq}}].text;
  document.getElementById('query_val').innerHTML = strUser;
}
</script>
<script>
// Quick and simple export target #table_id into a csv
function download_table_as_csv(table_id, separator = ',') {
    // Select rows from table_id
    var rows = document.querySelectorAll('#' + table_id + ' tr');
    // Construct csv
    var csv = [];
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll('td, th');
        for (var j = 0; j < cols.length; j++) {
            // Clean innertext to remove multiple spaces and jumpline (break csv)
            var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
            // Escape double-quote with double-double-quote (see https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv)
            data = data.replace(/"/g, '""');
            // Push escaped string
            row.push('"' + data + '"');
        }
        csv.push(row.join(separator));
    }
    var csv_string = csv.join('\n');
    // Download it
    var filename = 'export_' + table_id + '_' + new Date().toLocaleDateString() + '.csv';
    var link = document.createElement('a');
    link.style.display = 'none';
    link.setAttribute('target', '_blank');
    link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
    link.setAttribute('download', filename);
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}
</script>
<script>
$(document).ready(function () {
    // Handler for .ready() called.
    $('html, body').animate({
        scrollTop: $('#'+{{typequery}}+'query').offset().top
    }, 'slow');
});
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
