<!DOCTYPE html>
<html lang="en">
<!-- <head> -->
<title>Dota-2 Hero Analytics</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script type="text/javascript" src="jquery.js"></script> -->
<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">

<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
.tableFixHead          { overflow-y: auto; height: 400px; }
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px;text-align:center;border: 1px solid #ddd; }
th     { background:#eee; }
h_div {
    display: none;
}
</style>
<!-- </head> -->
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>
      <img src="/static/dota-2_white.png" alt="" style="height: 180px;width: 180px">
      <br>Hero Analytics</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#gquery" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">General</a>
    <a href="#hquery" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Heros</a>
    <a href="#hsquery" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Hero specific</a>
    <a href="#iquery" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Items</a>
    <a href="#aquery" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Achievements</a>
    <a href="#updates" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"> Update/Add </a>
    <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Team</a>

  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Dota-2 Hero Analytics</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="queries">
    <h1 class="w3-jumbo"><b>Analytics and Tools</b></h1>
    <h1 class="w3-xxxlarge w3-text-red" id="gquery"><b>General.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>General queries regarding heros, items and matches.
</p>
<form action='/query' method="post" style="display: none;" id="hidden_form">
  <input id="queryvalue" name="query" value=""/>
</form>
<div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button" onclick="fillform('gq1')" id="gq1">Most selected heros</button>
  <button class="w3-bar-item w3-button" onclick="fillform('gq2')" id="gq2">Most deadly teamfights</button>
  <button class="w3-bar-item w3-button" onclick="fillform('gq3')" id="gq3">Percentage of Radiant Wins</button>
  <button class="w3-bar-item w3-button" onclick="fillform('gq4')" id="gq4">Percentage of Dire Wins</button>
</div>

<!-- <form action="/query" method="post">
  <label for="queries">Choose a Query:</label>
  <select name="query" id="query">
    <option value="null"></option>
    <option value="gq1">Top heroes most selected</option>
    <option value="gq2">Most deadly teamfights</option>
    <option value="gq3">Percentage of Radiant Wins</option>
    <option value="gq4">Percentage of Dire Wins</option>
  </select>
  <input type="submit" value="Submit">
</form> -->
<br>
{% if data is not none and typequery=='g' %}
<button type="button" class="w3-button w3-white w3-border w3-border-red w3-round" onclick="download_table_as_csv('results');"><i class="material-icons w3-small">file_download</i> Download as CSV</button>
<div class="tableFixHead" id="results">
  <table>
    {% if header != None %}
    <thead>
      <tr>
      {% for h in header %}
      <th> {{h}} <a href="/query?q={{prevq}}&sort={{h}}" ><i class="material-icons w3-small">swap_vert</i></a> </th>
      {% endfor %}
    </tr>
    </thead>
    {% endif %}
    <tbody>
      {% for row in data %}
      <tr>
        {% for x in row %}
        <td> {{x}} </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

<!-- # heros -->
<h1 class="w3-xxxlarge w3-text-red" id="hquery"><b>Heros.</b></h1>
<hr style="width:50px;border:5px solid red" class="w3-round">
<p>Heroes are the foundation of every Dota experience. Every hero has the potential to completely change the dynamic of a team,
  and every player can completely change the dynamic of a hero. We here are showing the analysis done from over hundreds of matches played
   by various players from various countries with a wide spectrum of skill and talent to demonstrate the statistics about different heros.
</p>
<div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button" onclick="fillform('hq1')" id="hq1">Most Played Heroes</button>
  <button class="w3-bar-item w3-button" onclick="fillform('hq2')" id="hq2">Win Rate</button>
  <button class="w3-bar-item w3-button" onclick="fillform('hq3')" id="hq3">Game Impact</button>
  <button class="w3-bar-item w3-button" onclick="fillform('hq4')" id="hq4">Economy</button>
  <button class="w3-bar-item w3-button" onclick="fillform('hq5')" id="hq5">Damage and Healing</button>
  <button class="w3-bar-item w3-button" onclick="fillform('hq6')" id="hq6">All Heroes</button>
</div>
<!-- <form action="/query" method="post">
<label for="queries">Choose a Query:</label>
<select name="query" id="query">
<option value="null"></option>
<option value="hq1">Most Played Heroes</option>
<option value="hq2">Win Rate</option>
<option value="hq3">Game Impact</option>
<option value="hq4">Economy</option>
<option value="hq5">Damage and Healing</option>
<option value="hq6">All Heroes</option>
</select>
<input type="submit" value="Submit">
</form> -->
<br>
{% if data is not none and typequery=='h' %}
<p id="query_val"></p>
<button type="button" class="w3-button w3-white w3-border w3-border-red w3-round" onclick="download_table_as_csv('results');"><i class="material-icons w3-small">file_download</i> Download as CSV</button>
<div class="tableFixHead" id="results1">
<table>
{% if header != None %}
<thead>
  <tr>
  {% for h in header %}
  <th> {{h}} <a href="/query?q={{prevq}}&sort={{h}}" ><i class="material-icons w3-small">swap_vert</i></a> </th>
  {% endfor %}
</tr>
</thead>
{% endif %}
<tbody>
  {% for row in data %}
  <tr>
    {% for x in row %}
    <td> {{x}} </td>
    {% endfor %}
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endif %}

<!-- Hero specific queries -->
<h1 class="w3-xxxlarge w3-text-red" id="hsquery"><b>Hero Specific.</b></h1>
<hr style="width:50px;border:5px solid red" class="w3-round">
<p>
    Select a hero to get it's detailed stats.
</p>
<!-- <form action="/hero" method="post">
<label for="queries">Choose a Query:</label>
<select name="query" id="query">
<option value="null"></option>
<option value="hsq1">Most common item build</option>
<option value="hsq2">Hero against stats</option>
<option value="hsq3">Most Common ability upgrade</option>
</select> -->
<form action='/hero' method="post"  style="display: none;" id="hidden_form_2">
  <input name="query" id="herospquery" value="">
  <input name="hero_name" id="hero_name_q" value="">
</form>
<!-- <br> -->
<label for="queries">Choose a Hero:</label>
{% if all_heros is defined %}
<select name="hero_name" id="hero_name">
<!-- <option value="null"></option> -->
    {% for hero in all_heros %}
    <option value="{{hero[0]}}">{{hero[0]}}</option>
    {% endfor %}
</select>
{% else %}
    <select name="query" id="query">
    <option value="null"> No Heros available </option>
  </select>
{% endif %}
<div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button" onclick="fillform2('hsq1')" id="hsq1">Most common item build</button>
  <button class="w3-bar-item w3-button" onclick="fillform2('hsq2')" id="hsq2">Hero against stats</button>
  <button class="w3-bar-item w3-button" onclick="fillform2('hsq3')" id="hsq3">Most Common ability upgrade</button>
</div>
<br>
{% if data is defined and data != None and typequery=='hs' %}
<div class="tableFixHead" id="results_1">
<table>
{% if header != None %}
<thead>
  <tr>
  {% for h in header %}
  <th> {{h}} </th>
  {% endfor %}
</tr>
</thead>
{% endif %}
<tbody>
  {% for row in data %}
  <tr>
    {% for x in row %}
    <td> {{x}} </td>
    {% endfor %}
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endif %}


<!-- # item -->
<h1 class="w3-xxxlarge w3-text-red" id='iquery'><b>Items.</b></h1>
<hr style="width:50px;border:5px solid red" class="w3-round">
<p>Items are things heros can purchase in order to strengthen themselves.</p>
<div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button" onclick="fillform('iq1')" id="iq1">Early game items</button>
  <button class="w3-bar-item w3-button" onclick="fillform('iq2')" id="iq2">Mid game items</button>
  <button class="w3-bar-item w3-button" onclick="fillform('iq3')" id="iq3">Late game items</button>
  <button class="w3-bar-item w3-button" onclick="fillform('iq4')" id="iq4">Item win rate</button>
</div>
<!-- <form action="/query" method="post">
<label for="queries">Choose a Query:</label>
<select name="query" id="query">
<option value="null"></option>
<option value="iq1">Early game items</option>
<option value="iq2">Mid game items</option>
<option value="iq3">Late game items</option>
<option value="iq4">Item win rate</option>
</select>
<input type="submit" value="Submit">
</form> -->
<br>
{% if data is not none and typequery=='i' %}
<!-- <button type="button" class="w3-button w3-white w3-border w3-border-red w3-round-large" onclick="download_table_as_csv('results2');">Download as CSV</button> -->
<button type="button" class="w3-button w3-white w3-border w3-border-red w3-round" onclick="download_table_as_csv('results2');"><i class="material-icons w3-small">file_download</i> Download as CSV</button>

<div class="tableFixHead" id="results2">
<table>
{% if header != None %}
<thead>
  <tr>
  {% for h in header %}
  <th> {{h}} (<a href="/query?q={{prevq}}&sort={{h}}" >sort</a>) </th>
  {% endfor %}
</tr>
</thead>
{% endif %}
<tbody>
  {% for row in data %}
  <tr>
    {% for x in row %}
    <td> {{x}} </td>
    {% endfor %}
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endif %}

<!-- # Achievements -->
<h1 class="w3-xxxlarge w3-text-red" id="aquery"><b>Achievements.</b></h1>
<hr style="width:50px;border:5px solid red" class="w3-round">
<p>Achievements earned by different heroes
</p>
<div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button" onclick="fillform('aq1')" id="aq1">Filthy Rich</button>
  <button class="w3-bar-item w3-button" onclick="fillform('aq2')" id="aq2">Not on my watch</button>
  <button class="w3-bar-item w3-button" onclick="fillform('aq3')" id="aq3">Hero farmer</button>
  <button class="w3-bar-item w3-button" onclick="fillform('aq4')" id="aq4">Goblin slayer</button>
  <button class="w3-bar-item w3-button" onclick="fillform('aq5')" id="aq5">Controller of crowds</button>
  <button class="w3-bar-item w3-button" onclick="fillform('aq6')" id="aq6">Good game</button>
  <button class="w3-bar-item w3-button" onclick="fillform('aq7')" id="aq7">Blame game</button>
</div>
<!-- <form action="/query" method="post">
<label for="queries">Choose a Query:</label>
<select name="query" id="query">
<option value="null"></option>
<option value="aq1">Filthy Rich</option>
<option value="aq2">Not on my watch</option>
<option value="aq3">Hero farmer</option>
<option value="aq4">Goblin slayer</option>
<option value="aq5">Controller of crowds</option>
<option value="aq6">Good game</option>
<option value="aq7">Blame game</option>
</select>
<input type="submit" value="Submit">
</form> -->
<br>
{% if data is not none and typequery=='a' %}
<button type="button" class="w3-button w3-white w3-border w3-border-red w3-round" onclick="download_table_as_csv('results3');"><i class="material-icons w3-small">file_download</i> Download as CSV</button>
<div class="tableFixHead" id="results3">
<table>
{% if header != None %}
<thead>
  <tr>
  {% for h in header %}
  <th> {{h}} (<a href="/query?q={{prevq}}&sort={{h}}" >sort</a>) </th>
  {% endfor %}
</tr>
</thead>
{% endif %}
<tbody>
  {% for row in data %}
  <tr>
    {% for x in row %}
    <td> {{x}} </td>
    {% endfor %}
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endif %}

  </div>



  <!-- Services -->
  <div class="w3-container" id="updates" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Update.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
      <!-- <label for="update_domain">Choose a Query:</label> -->
      <!-- <form>
      <label for="cases">Choose a table:</label>
      <select name="cases" id="cases">
        <option value=""></option>
        <option value="hero">Hero</option>
        <option value="item">Item</option>
        <option value="player">Player</option>
      </select>
    </form> -->
    <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button" onclick="showform('hero_update')">Hero Update</button>
      <button class="w3-bar-item w3-button" onclick="showform('item_update')">Item Update</button>
      <button class="w3-bar-item w3-button" onclick="showform('player_update')">Player Update</button>
    </div>
      <!-- <form action="/update_val" id="update_form"> -->
        <div  id="hero_update" style="display:none;">
          <form action="/update" method="post">
          <div class="w3-section">
            <label>Hero Name</label>
            <input class="w3-input w3-border" type="text" name="Name" required>
          </div>
          <div class="w3-section">
            <label>Hero game name</label>
            <input class="w3-input w3-border" type="text" name="Email" required>
          </div>
          <input type="submit" value="Submit" class="w3-button w3-white w3-border w3-border-red w3-round">
        </form>
        </div>

        <div  id="item_update" style="display:none;">
          <form action="/update" method="post">
          <div class="w3-section">
            <label>Item Name</label>
            <input class="w3-input w3-border" type="text" name="Name" required>
          </div>
          <div class="w3-section">
            <label>Item id</label>
            <input class="w3-input w3-border" type="text" name="Email" required>
          </div>
          <input type="submit" value="Submit" class="w3-button w3-white w3-border w3-border-red w3-round">
       </form>
        </div>
        <div  id="player_update" style="display:none;">
          <form action="/update" method="post">
          <div class="w3-section">
            <label>Name</label>
            <input class="w3-input w3-border" type="text" name="Name" required>
          </div>
          <div class="w3-section">
            <label>Email</label>
            <input class="w3-input w3-border" type="text" name="Email" required>
          </div>
          <div class="w3-section">
            <label>Message</label>
            <input class="w3-input w3-border" type="text" name="Message" required>
          </div>
          <input type="submit" value="Submit" class="w3-button w3-white w3-border w3-border-red w3-round">
       </form>
        </div>
    </div>

  <!-- Designers -->
  <div class="w3-container" id="team" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Team.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

  <!-- The Team -->
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <!-- <img src="/w3images/team2.jpg" alt="John" style="width:100%"> -->
        <div class="w3-container">
          <h3>Jay Paranjape</h3>
          <p class="w3-opacity">2017CS10355</p>
          <!-- <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p> -->
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <!-- <img src="/w3images/team1.jpg" alt="Jane" style="width:100%"> -->
        <div class="w3-container">
          <h3>Saksham Dhull</h3>
          <p class="w3-opacity">2017CS10370</p>
          <!-- <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p> -->
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <!-- <img src="/w3images/team3.jpg" alt="Mike" style="width:100%"> -->
        <div class="w3-container">
          <h3>Siddhant Mago</h3>
          <p class="w3-opacity">2017CS50419</p>
          <!-- <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>
{% if prevq is defined %}
<script>
document.getElementById('{{prevq}}').className += 'w3-red';
document.getElementById('{{typequery}}'+'query').scrollIntoView();
</script>
{% endif %}
<script>
function fillform(query){
  document.getElementById('queryvalue').value=query
  document.getElementById('hidden_form').submit()
}
function fillform2(query){
  document.getElementById('herospquery').value=query;
  document.getElementById('hero_name_q').value=document.getElementById('hero_name').value;
  document.getElementById('hidden_form_2').submit();
}
</script>
<script>
// $('#cases').change(function () {
// 	  var value = this.value;
//     console.log(this.value);
//         if(this.value==""){
//       $('#hero_update').display.style = "none";
//       $('#item_update').display.style = "none";
//       $('#player_update').display.style = "none";
//       return;
//     }
//     $('#hero_update').display.style = "none";
//     $('#item_update').display.style = "none";
//     $('#player_update').display.style = "none";
//     $('#' + this.value+'_update').display.style = "block";
// });
function showform(id) {
  // reset
  document.getElementById('hero_update').style.display='none';
  document.getElementById('item_update').style.display='none';
  document.getElementById('player_update').style.display='none';
  document.getElementById(id).style.display="block";
}
</script>
<script>
// Quick and simple export target #table_id into a csv
function download_table_as_csv(table_id, separator = ',') {
    // Select rows from table_id
    var rows = document.querySelectorAll('#' + table_id + ' tr');
    // Construct csv
    var csv = [];
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll('td, th');
        for (var j = 0; j < cols.length; j++) {
            // Clean innertext to remove multiple spaces and jumpline (break csv)
            var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
            // Escape double-quote with double-double-quote (see https://stackoverflow.com/questions/17808511/properly-escape-a-double-quote-in-csv)
            data = data.replace(/"/g, '""');
            // Push escaped string
            row.push('"' + data + '"');
        }
        csv.push(row.join(separator));
    }
    var csv_string = csv.join('\n');
    // Download it
    var filename = 'export_' + table_id + '_' + new Date().toLocaleDateString() + '.csv';
    var link = document.createElement('a');
    link.style.display = 'none';
    link.setAttribute('target', '_blank');
    link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
    link.setAttribute('download', filename);
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}
</script>
<script>
$(document).ready(function () {
    // Handler for .ready() called.
    $('html, body').animate({
        scrollTop: $('#'+{{typequery}}+'query').offset().top
    }, 'slow');
});
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

</script>

</body>
</html>
